[2018-09-30 05:12] mristin opened #47 "Better library name"
I was not aware of Java icontract library. It would be great to find a better name to facilitate Internet searches and also to avoid unnecessary citations or reference errors.

What about: pcontract (for python contract)?

[2018-09-30 05:17] mristin opened #48 "readability tool"
(From python-ideas list in thread: "old" values in postconditions)

What about a tool that converts contracts back and forth to readable form on IDE save/load with the following syntax:

[code]

For classes:
[code]

icontract.dummies would provide these dummy context managers (all of them would raise exceptions on enter so that the code can not run by accident). The converter would add/remove thes

[2018-09-30 05:31] mristin opened #49 "Versioning"
To avoid dependency hell in user libraries, I'd suggest we keep the major version in the name of the module (icontract2, icontract3 _etc._) so as to allow projects to have dependencies with conflicting major versions of icontract without problems.

Is that a sane approach?

[2018-09-30 05:37] mristin opened #50 "Fine-grained Toggling of Contracts"
At the moment, contracts are toggled per `enabled` argument:

[code]

However, there are cases where the user of a library which uses icontract would like to turn on/off a subset of the tests. If the `enabled` argument was `False` during the _decoration_ time, the contract will be ignored and there is no way to re-decorate the function easily.

Is there an elegant way to allow for fine-grained con

[2018-09-30 06:10] mristin opened #51 "Dynamic __doc__"
It would be nice if `__doc__` property would be wrapped, so that contracts are automatically rendered when `help(some_func)` or `help(SomeClass)` are called. This would also make the sphinx extension `sphinx-icontract` obsolete.

**Logic**
Contracts are now added to `__preconditions__` and `__postconditions__` dunders of wrapper function if `enabled` argument is `True`. Otherwise the contract is c

[2018-09-30 06:22] mristin opened #52 "Better Decorator Names"
Calling the postcondition decorator `post` conflicts with many web frameworks.

What about the following names:
* `@requires` instead of `pre`
* `@ensures` instead of `post`
* `@snapshot` to store the "old" values prior to the function invocation
* `@establishes` for the invariants

? Will `snapshot` conflict with some well-known library?

[2018-09-30 06:38] mristin opened #53 "Short-Term Roadmap"
- [ ] Rename `pre`, `post` and `inv` to `requires`, `ensures` and `invariant`, respectively
- [ ] Refactor icontract to use `@pre(lambda P: ...)` and `@post(lambda P, result: ...)` to avoid name conflicts with function arguments
- [x] Repalce `repr_args` with `error` argument to the contract
- [x] Add `O` argument for a shallow copy of "old" argument values to `@ensures`
- [ ] Release the version

[2018-10-01 01:41] CrazyPython commented on #48
Would `with requiring: assert arg1 < arg2, “message”`

Be the code you type or the code that’s actually run?

[2018-10-01 01:42] CrazyPython opened #61 ""MockP" Syntax"
Please explain. (Expressions like thunk(all)(a == b for a, b in P.arg.meth()) would be valid.)

Except for a > b > c being one flat expression with 5 members, it seems fairly easy to recreate an AST, which can then be compiled down to a code object. The code object can be fun with a custom “locals()”

Below is my concept code for such a P object.
[code]

[2018-10-01 05:03] mristin commented on #48
That would be the code you type.

Le lun. 1 oct. 2018 à 03:41, James <notifications@github.com> a écrit :

[2018-10-02 04:44] mristin commented on #48
A simpler approach.

In icontract.dummies:

[code]

Readable form:
[code]

`result = None # type: ...` statement can be omitted; this is useful only for indicating the type of the result to the IDE. When writing new postconditions, this can be an overhead, but makes it easier to edit the existing contracts.

Executable form:
[code]

The use case I have in mind is not to separate each file into two

[2018-10-02 06:56] malinoff commented on #48
Do we need a transpiler, though? Can't this syntax be supported out of the box?

[2018-10-02 07:17] mristin commented on #48
Hi @malinoff ,
How would you do that? Is there a way for a context manager to exit the context early without executing the context body?

[2018-10-02 07:49] malinoff commented on #48
I was thinking more about how pytest rewrites assertions to display human-readable error messages.
It uses a custom import hook; it is probably a no-go for a library.

Maybe, just maybe, if cpython core devs consider extending python language to support contracts more seamlessly, we ask for a built-in way to process assertions in a custom way? `sys.asserthook`, like `sys.excepthook` and other `sys

[2018-10-02 07:50] malinoff commented on #48
There's also `attest` project (now abandoned) that tried to rewrite assertions in the fly
https://github.com/dag/attest/blob/master/attest/hook.py

[2018-10-20 07:14] mristin commented on #53
It turned out that we can not hack around ``help()`` to inject contract information since ``help()`` operates on types of the instances and not on instances itself (see https://groups.google.com/forum/#!topic/python-ideas/c9ntrVuh6WE).

It also turned out that introducing `P` did not make the code more readable -- actually, the code was less readable.

The transpiler tool caused a lot of confusion

[2018-10-20 07:14] #53 closed

[2018-10-20 07:18] mristin commented on #52
I made a small survey of existing contract libraries. Here are the keywords:

* Ada
  http://www.drdobbs.com/architecture-and-design/ada-2012-ada-with-contracts/240150569
  Pre, post
* Clojure
  https://stackoverflow.com/questions/1640311/should-i-use-a-function-or-a-macro-to-validate-arguments-in-clojure
  Pre, post
* Perl6
  https://stackoverflow.com/questions/45260664/does-perl-6-natively-suppo

[2018-10-25 07:42] sfermigier opened #86 ""pre" or "require" ? "post" or "ensure" ?"
The README says "icontract provides two function decorators, pre and post for pre-conditions and post-conditions, respectively. Additionally, it provides a class decorator, inv, to establish class invariants."

But the code actually uses `require`, `ensure` and `invariant`.

I actually prefer the shorter names, but that's debatable.

[2018-10-25 07:56] mristin commented on #86
Hi @sfermigier
Thanks a lot for spotting it!
This escaped my greps when I updated to 2.0.0.

The rename was necessary since "post" conflicted with web frameworks. Among the candidates for renaming, we decided to go with names common in other dbc libs and languages.

I'll fix the docs tonight.

[2018-10-25 20:50] mristin commented on #86
Hi @sfermigier ,
The readme has been fixed. Please let me know if you spot more errors. And any kind of feedback is highly welcome!

[2018-10-25 20:50] #86 closed

[2018-12-06 01:43] AbeDillon commented on #52
Perhaps something like @capture(name=lambda args: ...) would be a good alternative to "snapshot".
You provide a name and a function that acts upon the arguments of the signature to assign a value to that name. Then you can reference the name in the function of an @ensures decorator.

[2018-12-06 07:53] mristin commented on #52
Hi @AbeDillon , the problem with `@capture({name}=...` is that the name can quickly conflict with enabled and other parameters of the capture/snapshot decorator.

[2018-12-06 21:33] AbeDillon commented on #52
Ah. Sorry, I should have spent more time with the code base before commenting.

[2018-12-07 06:37] mristin commented on #52
@AbeDillon

No worries. I'll leave the issue open so that we can collect ideas. Any changes would be only integrated with the next major release which is not expected to happen soon, so there is plenty of time to discuss :smile:

[2018-12-07 06:41] mristin commented on #47
@AbeDillon thanks for your suggestions!

I find Locke problematic (he was a major investor in the English slave trade). But "vow" is short and quite clear -- the best candidate so far!

[2019-01-22 14:12] jamescasbon opened #93 "require decorator removes type annotations for mypy"
[code]

Both function calls are invalid types but mypy only sees the call as f2 as wrong.  The decorator loses the type annotations?

Related https://github.com/python/mypy/issues/3157

[2019-01-22 21:33] mristin commented on #93
(Let me do a couple of experiments. I think I misread https://github.com/python/mypy/issues/3157)

[2019-01-22 21:45] mristin commented on #93
Hi @jamescasbon

My bad, I indeed misread https://github.com/python/mypy/issues/3157. Mypy indeed supports  decorators which do not change the signature of the function.

Would you mind reviewing the following snippet for me? I assume that I simply need to change the argument type and return type of `icontract.require` and `icontract.ensure` argument to fix the issue?

experiment.py:
[code]

I get

[2019-01-23 09:40] jamescasbon commented on #93
Amazing work, yes the branch works with mypy now :+1:

Thanks for the quick turnaround.

[2019-01-23 10:05] jamescasbon commented on #93
Ah, i redid the check with mypy --strict

The require decorator now gives this error:

    ic.py:3: warning: Returning Any from function declared to return "bool"

I do think this PR is a lot better - but would be very nice if we could run with strict

[2019-01-23 12:13] mristin commented on #93
Hi James,
Let me have a look at it tonight (CET).

Cheers Marko

Le mer. 23 janv. 2019 à 11:05, James Casbon <notifications@github.com> a
écrit :

[2019-01-23 17:39] mristin commented on #93
Hi @jamescasbon,
I think this is an issue with how `mypy` handles lambdas.

`icontract.require`'s signature is:

[code]

As you can see, it expects condition to be of type `Callable[..., bool]`, whereas lambdas are inferred as `Callable[..., Any]` since the type of the input argument is not known (see https://mypy.readthedocs.io/en/latest/kinds_of_types.html#callable-types-and-lambdas).

If you re

[2019-01-23 18:54] jamescasbon commented on #93
Hmmmm.  To be honest I don't know how many people are using mypy --strict.  I am using DBC + mypy to get correctness so my aim would be strict.  3.6 can type lambdas but not anonymous ones :/

Seems to me if you expect condition to be a lambda you should match the type of a lambda but I appreciate it is not an easy choice.

[2019-01-25 05:41] mristin commented on #93
(@jamescasbon -- just a kind reminder; I'd like to wait for you to check that the latest commit fixes your problem before I bump the patch version.)

[2019-01-25 09:41] jamescasbon commented on #93
Thanks very much this looks great.  I think you should ship it :+1:

[2019-01-26 07:42] #93 closed

[2019-01-31 05:47] CrazyPython commented on #47
[code]

[2019-02-01 05:37] mristin commented on #47
Hi @CrazyPython ,
Good to read you again as well :smile:

I thought about introducing an alias in icontract so that current users don't need to change, but new users might prefer a shorter alias. There would be the module `vow` and it would have the decorators:

[code]

What do you think?

[2019-04-06 20:48] jamescasbon opened #97 "numpy.all support"
I'm trying to work out how to add numpy contracts without over repetition.  Most numpy functions return vectors and need a np.all to return a bool.

For example, checking input is positive:
[code]
I  can of course add a precondition with

    @require(lambda x: np.all(x > 0))

But this gets tedious and verbose (the lambda and the all).

I tried to extend require to a version like vrequire (vector

[2019-04-06 21:29] jamescasbon commented on #97
Ah, it's actually worse than that.

[code]

[code]

[2019-04-07 05:46] mristin commented on #97
Hi @jamescasbon ,
Thanks a lot for reporting the problem! Let us first fix the value error and then we can have a look at how you can introduce shorter versions of require (`vrequire`) into your code base.

The following snippet reproduced the problem with the numpy and comparisons:

[code]
which gives:
[code]

In icontract I used `not` during the recomputation to produce the error message (so tha

[2019-04-07 06:39] mristin commented on #97
Hi @jamescasbon ,
I fixed the problem with ValueError, bumped the version to 2.0.3 and published it on pypi. Could you please check if it still persists with icontract 2.0.3?

Once you confirm me that the problem is resolved, we'll have a look at how to simplify the preconditions.

[2019-04-07 08:35] jamescasbon commented on #97
Wow, amazing. Thanks for the fix!

Yeah, just thinking it through perhaps we dont *need* a vrequire as a short alias to all can work:

[code]

But one thing that slightly bothers me is the lack of a 'point free style'.  Lets say I define a complex function

     def my_complex_condition(x): return np.all(np.isfinite(x) & (np.abs(x) < 100))

Then I can't just write:

    @require(my_complex_conditi

[2019-04-07 13:52] jamescasbon opened #101 "include decorator definition in ViolationError description"
Consider this module (defined in ictb.py):
[code]
Which I use

[code]

This is pretty good as far as it goes, but I'm always frustrated that there is no link to the source definition of frobulate with its associated requirements.  The cognitive load of finding the requirement is a little bit irritating.

I think we can do better.  In eg `require.__init__`, I can get the require definition site:

[2019-04-08 06:20] mristin commented on #101
Hi @jamescasbon ,
Thanks again for raising the issue! It is very valuable for us to see how other people are using the library and what can be improved.

I'm working on the feature and hope to have it finished by tomorrow.

Since the condition is already included in the message, I'll just include the filename, line number and the module name. I hope that retrieving trace-back will not tip the benc

[2019-04-08 21:16] mristin commented on #101
Hi @jamescasbon ,
The issue should be now fixed in v2.0.4 (also published on pypi).

I was not sure whether to bump a minor or a patch version. Since it's actually an omission (the location should have been included in the first place), I decided to bump the patch version.

Please let me know if there are any problems or bugs. I'm closing the issue for now.

[2019-04-09 08:49] mristin commented on #97
You could try to have a factory methods for the lambda somehow, but my gut feeling is that any such approach would be slow. We had some discussion about it o the issue https://github.com/Parquery/icontract/issues/61.

Maybe you can ask on python-ideas mail list that λ be included in Python 3.8?

It indeed reads much cleaner:
[code]

Passing the dictionary is an option, but that would require more

[2019-04-09 17:06] jamescasbon commented on #97
OK, I thnk I have enough for now !

[2019-04-09 17:06] #97 closed

[2019-04-24 08:51] jamescasbon commented on #101
Thanks @mristin but from the README we only see these on class invariants.  Can we get them on require/ensure as well?

[2019-04-24 09:35] jamescasbon opened #105 "catch exceptions in boolyness of check"
This is very much related to #97

Consider this:

[code]

If you are doing numeric programming with icontract it's very likely at some point you will mess up and return a bool vector rather than a bool.  At the moment, its impossible to know where you did this.  If you have many requirements you have no decent way of debugging them.  You might end up commenting them out one by one or moving them t

[2019-04-24 10:17] mristin commented on #105
Hi @jamescasbon,
Thanks for noticing this! As we don't use numpy that intensively, we miss a lot of these use cases.

Actually, we can just try/except a general exception `err` when testing falsiness and then `raise ... from err`.

I'm on holidays till May 6th. Please feel free to submit a pull request or I'll fix this issue after the holidays.

[2019-04-24 10:19] mristin commented on #101
Hi @jamescasbon,
Do I understand you correctly: you would like readme to include an example with require/ensure or there is a functionality missing in the library?

[2019-04-24 10:24] jamescasbon commented on #101
I believe there is missing functionality.  The location of the decorator is mentioned with @invariant but not with @require and @ensure.

You can see this in the README doctests - the patch only updated the @invariant results I believe.

[2019-04-24 11:15] mristin commented on #101
Thanks @jamescasbon for the clarification! I'll have a look at it when I come back from holidays (May 5th 2019).

[2019-04-24 11:27] jamescasbon commented on #101
See #106 - I think its just the location wasn't set

[2019-04-24 11:27] jamescasbon commented on #105
See #106

[2019-04-24 14:42] jamescasbon opened #107 "checking of contract arguments is too strict"
consider:

[code]

Should I have to set y here?  I don't think so.

[2019-04-24 14:45] jamescasbon commented on #107
I've pushed a commit on #106 that does this

[2019-04-24 16:31] mristin commented on #107
Hi @jamescasbon,
Thanks for noticing all these! As with other recent issues, I'll fix them beginning of may.

[2019-05-04 09:32] pgdr opened #108 "Crashes when functions are given wrong number of (positional) arguments"
The following case, where `f` is given one too many arguments, should give the _original error message_ `TypeError: f() takes 0 positional arguments but 1 was given`:

[code]

Instead, icontract crashes with the following traceback:
[code]

This makes it difficult to locate the actual position of the bug.

[2019-05-04 11:41] mristin commented on #108
Hi @pgdr,
Thanks for the issue! I'll have a look at it when I'm back from holidays on May 7th.

[2019-05-08 05:21] mristin commented on #101
Hi @jamescasbon,
I'm working on this right now.

[2019-05-08 06:23] #101 closed

[2019-05-08 06:25] mristin commented on #105
Hi @jamescasbon ,
I'll have a look at this issue tomorrow (2019-05-09 CET). I'll take the code from #106 and make a separate, more atomic pull request since some changes were merged in from the pull request #109 .

[2019-05-11 05:23] mristin commented on #105
Hi @jamescasbon ,
I'm looking into the issue right now. Sorry for the delay.

[2019-05-11 06:30] #105 closed

[2019-05-12 05:07] mristin commented on #107
Hi @jamescasbon ,
I'm looking into the issue right now. I'll split the code from the pull request #106 into a separate pull request.

[2019-05-12 06:20] #107 closed

[2019-05-12 06:21] mristin commented on #108
Hi @pgdr ,
I'm looking into the issue right now.

[2019-05-12 06:51] mristin commented on #108
@pgdr I fixed the issue by silently ignoring the unexpected arguments and letting the underlying decorated function panic when called.

Unfortunately, I could not find the way to erase the decorators from the stack (see https://stackoverflow.com/questions/44813333/how-can-i-elide-a-function-wrapper-from-the-traceback-in-python-3). Hence, for your given example, the traceback now looks like:

[code

[2019-05-12 06:52] #108 closed

[2019-05-16 14:34] jamescasbon commented on #48
PEP377 was the (rejected) PEP for this https://www.python.org/dev/peps/pep-0377/

[2020-01-02 14:28] galen104 opened #122 "mypy 0.750 --strict error"
I'm using icontract 2.0.6 and I have trouble with `mypy --strict`.

ps: sorry, I have cloned and tested the branch master and it works well.
Can you make a new version with those fixes?
Thanks

[2020-01-02 19:32] mristin commented on #122
Hi @galen104 ,
Thanks for reporting the issue. This has been fixed in the master branch (see the pull request #120 ). We will release a new minor version in a week or two (@radomsak could you please confirm?).

[2020-01-03 10:32] ibeglab opened #123 "testing functions validated with icontract"
I have a simple function that use `icontract` validation:

[code]

I'm using pytest for testing, and I have the following issues:
- I cannot test the function because the contract will always fail
- If I pass `-O` during testing to disable the contracts, the coverage test still complains about the `icontract` line:

[code]

16 is the  `icontract` line:

How can I do?
Is there a better way instead

[2020-01-03 11:16] mristin commented on #123
Hi @ibeglab ,
Have you looked at `enabled` argument (https://github.com/Parquery/icontract/blob/master/README.rst#toggling-contracts)?

Please help me understand better your use case: you have some contracts that pass in production, but fail in test? These are the tests that you would like to disable in test, but enable in production?

On the other hand, there are other tests  that pass both in pr

[2020-01-03 13:00] ibeglab commented on #123
I have some contracts that prevent me to properly test functions. In the example above, I cannot test `row_count()` function for `FileNotFoundError` exception.
During the development helps me to have contracts that ensure those kind of things, but tests should not rely on contracts.

I have tried with `enabled=not bool(os.environ.get('PYTEST_CURRENT_TEST'))`.
In production the contract is active a

[2020-01-03 16:22] mristin commented on #123
Hi @ibeglab ,
I'll fire up pytest environment tonight and test it with icontract.
If you want to test it in the meanwhile, could you try:

[code]
?

[2020-01-03 20:41] ibeglab commented on #123
Unfortunately it doesn't work.

[2020-01-03 21:32] mristin commented on #123
I have just created a virtual environment:
[code]

The problem in the snippet above is that `PYTEST_CURRENT_TEST` is not defined (at least not in my pytest version 5.3.2).

A possible workaround is to define your own environment variable, _e.g._ `UNDER_TEST`:
`somemodule.py`:
[code]

`test_somemodule.py`:
[code]

Finally, you need to set the environment variable when executing pytest:
[code]

Woul

[2020-01-03 23:15] ibeglab commented on #123
Yes this works. I solved this way:

[code]

and setting the environment variable `UNDER_TEST=1`
Thanks.

[2020-01-04 10:58] mristin commented on #123
@radomsak I think the issue can be closed?

[2020-01-09 09:53] radomsak commented on #122
Hi @galen104

We are having some issues with Pypi which will be resolved soon. I will let you know as soon as the new version is released.

Thank you for your patience!

[2020-01-09 09:54] #123 closed

[2020-01-27 17:19] mristin commented on #122
Hi @galen104 ,
The issue should be fixed in the current version (2.0.7) which is now also available on Pypi. Please let us know if it works for you as expected.

[2020-04-14 09:40] markusschmaus opened #126 "RecursionError due to contract checking during contract checking"
[code]

This code results in a RecursionError, since while checking the postcondition for `label` the method `index` is invoked which triggers the check for the postcondition of `index`.

It would be great if it were possible to suspend the checking of any other contracts while checking one contract, either by default or as a option when specifying the contract.

[2020-04-14 17:22] treiher opened #127 "Errors caused by generator or list comprehension in contract"
Using a generator or list comprehension in a contract seems not to be supported.

### Generator Comprehension

[code]

[code]

### List Comprehension

[code]

[code]

### Versions

icontract  2.1.0
asttokens  1.1.15

[2020-04-14 17:40] mristin commented on #127
Hi @treiher
Thanks for reporting the issue. I'll try to have a look at it tomorrow. It seems like an issue with asttokens at first sight. Generators used to work :)

[2020-04-14 17:41] mristin commented on #122
Hi @Sasha93
I think this issue can be closed now since it was resolved?

[2020-04-14 19:59] mristin commented on #126
Hi @markusschmaus ,
Thanks for the feature request! I actually encountered the conundrum of recursive contract checking while designing the library. In the end, I thought it would be too surprising for the user if some contracts were not checked and decide to leave the issue aside.

What about a pattern where you do:
[code]
and then you explicitly call the function without the contracts in other c

[2020-04-15 09:19] markusschmaus commented on #126
I intend `Dimension` to be an abstract base class with sub-classes providing concrete implementations of `label` and `index`. The pattern you suggest would mean that the sub-classes would instead provide implementations for _`label_nodbc` and `_index_nodbc` which would also get the docstring, while only `index` and `label` should be used publicly. I must admit I am not super fond of that solution.

[2020-04-15 18:32] mristin commented on #126
Hi @markusschmaus ,

I like this solution the best. Let me think about how it can be implemented for a couple of days. Any suggestions are of course welcome!

[2020-04-15 19:56] mristin commented on #127
Indeed, this small snippet:
[code]
fixed the first problem.

[2020-04-15 20:03] mristin commented on #127
I am pretty sure that the second problem is directly related to asttokens. I created an issue at asttokens repository:
https://github.com/gristlabs/asttokens/issues/57

Using Python 3.6 would be a quick work-around till this is fixed if that is an option for you.

[2020-04-16 07:19] treiher commented on #127
Thanks for the quick analysis! I can confirm that this issue is related to Python 3.8. I just tried using Python 3.7 and the problem did not occur.

[2020-04-16 08:03] #122 closed

[2020-04-16 08:48] markusschmaus commented on #126
This is what I was thinking about:
https://github.com/markusschmaus/icontract/commit/9c5884a1f848c7f3068528b34e8c56029569e502

[2020-04-16 20:39] mristin commented on #126
Hi @markusschmaus ,
I tried to implement your suggestion and write a couple of unit tests. I added the exit stack to make sure everything goes back to the initial state in case of exceptions, but the rest is merely a copy/paste.

The solution works well for preconditions and postconditions:
https://github.com/mristin/icontract/commit/5769153e3018f2c18e1b71a23af03d5c9e2b6641

However, I got stuck w

[2020-04-17 05:13] mristin commented on #127
Hi @treiher , I'd like to fix #126 before releasing the next patch version. That should happen soon (in the next couple of days).

[2020-04-17 06:39] treiher commented on #127
That sounds good. Thanks!

[2020-04-17 10:35] mristin commented on #126
@markusschmaus actually, as soon as the first invariant is checked, _all_ the invariants of the class need to be temporarily disabled to avoid endless recursion, needn't they?

[2020-04-21 20:15] mristin commented on #126
Hi @markusschmaus ,
I implemented the suggestion in the following pull request:  #129

Would you mind to review it? Could you maybe come up with additional unit tests? (You can also just sketch them and I will implement them if that is easier for you.)

Once we merge this in and #128 , the patch version can be bumped and released.

[2020-04-27 07:33] #127 closed

[2020-04-27 17:09] treiher opened #133 "RecursionError caused by method call in invariant"
Accessing a property or calling a class method leads to a RecursionError. Is it only supported to access attributes in the invariant?

[code]

[code]

### Versions

icontract 2.2.0
asttokens 2.0.4
Python 3.8.2

[2020-04-27 19:03] mristin commented on #133
Hi @treiher
We have fixed it, see #129. It's pending review.

[2020-04-30 07:23] mristin commented on #126
#129 fixes this issue. @Sasha93 we can close it.

[2020-04-30 07:25] mristin commented on #133
@treiher this has been fixed and the minor version has been bumped (#129 , release version 2.3.0).

@Sasha93 this issue can be closed.

[2020-04-30 07:39] Sasha93 commented on #133
Issue closed since issue was already fixed in release version 2.3.0

[2020-04-30 07:39] #133 closed

[2020-04-30 09:14] treiher commented on #133
I can confirm that the issue is fixed in 2.3.0. Thanks!

[2020-05-05 11:33] treiher opened #136 "Class invariant changes __dict__ unexpectedly"
Usually `__dict__` can be used to compare if two instances have equal attributes. Adding an class invariant falsifies a `__eq__` method which is based on this assumption:

[code]

[code]

In the shown example it is of course quite simple to fix the issue. In my use case multiple classes are inherited from a base class containing such a `__eq__` method. Each inherited class contains different addit

[2020-05-05 11:49] mristin commented on #136
Hi @treiher ,
Thanks for reporting! These are the edge cases I couldn't have possibly thought of, so this is much appreciated!

Let me have a look at the problem tonight or tomorrow in more depth.

[2020-05-06 05:44] mristin commented on #136
Hi @treiher ,
This also revealed a bug in multithreading scenarios. I'll try to come with a fix tonight.

[2020-05-08 07:02] mristin commented on #126
(@Sasha93 a kind reminder)

[2020-05-08 07:03] mristin commented on #136
@Sasha93 could you please merge in #137 so that this issue is also fixed?

[2020-05-11 07:02] #126 closed

[2020-05-11 07:02] #136 closed

[2020-05-11 17:00] treiher commented on #136
Thanks for fixing this issue. When do you plan to release a new version containing this fix?

[2020-05-11 17:22] mristin commented on #136
Hi @treiher ,
Already released, see #138 .

[2020-05-11 20:56] treiher commented on #136
Oh, you are right, on PyPI is already version 2.3.1. I only looked at the releases on GitHub where there is still only version 2.2.0. Thanks again!

[2020-05-12 05:06] mristin commented on #136
@Sasha93 could you please also make pending releases on github?

[2020-05-12 13:36] Sasha93 commented on #136
Sorry, I had forgotten about it. Done this morning;)

[2020-05-12 15:35] Sasha93 opened #139 "AttributeError: '_thread._local' object has no attribute 'in_progress'"
Starting from release 2.3.0, whenever the checkers are invoked the beforementioned error is thrown. Tested with both Python 3.5 and Python 3.7, downgrading to icontract 2.2.0 solved the issue.

[2020-05-13 06:25] #139 closed

[2020-05-15 16:36] treiher opened #142 "Performance impact of contracts particularly high"
I expected a substantial performance impact by using contracts, but the impact of invariants is huge, even with the simplest predicate. This is especially true for the latest version.

### Evaluation

Here is a small test program I used to evaluate the performance:

[code]

### Results

#### icontract 2.3.2

36.290041845990345
2.4590219910023734

#### icontract 2.2.0

9.24365290501737
2.4601732709

[2020-05-15 17:17] mristin commented on #142
Hi @treiher ,
Thanks a lot for the benchmarks, I really appreciate your feedback!

Could you write and run a similar benchmark for precondition and postcondition so that we can make sure it's mainly the issue with the invariants?

[2020-05-15 17:28] treiher commented on #142
The performance for preconditions and postconditions is even worse (measured with version 2.3.2):

#### precondition

52.331567853019806
2.548302870010957

#### postcondition

63.87691364099737
2.5593633920070715

[2020-05-15 17:59] mristin commented on #142
Oh, wow, this shouldn't be. Thread local must be the source of it. Sorry, I should have benchmarked. Would you mind sending me the scripts for precondition and postcondition?

[2020-05-15 18:13] treiher commented on #142
I just modified the script shown above by replacing the invariant by a require/ensure at `__init__`.

[2020-05-15 18:44] mristin commented on #142
Thanks! I'll try to dig into it over the weekend.

[2020-05-18 08:34] mristin commented on #142
Hi @treiher ,
Sorry, the weekend was too busy. I hope to find some time tomorrow night (Tuesday).

[2020-05-19 14:04] mristin commented on #142
Hi @treiher , let's continue the discussion in the pull request #143 .

[2020-05-25 15:42] #142 closed

[2020-05-25 16:19] treiher opened #144 "Installation of version 2.3.3 fails"
[code]

[2020-05-25 17:20] mristin commented on #144
Oh, my bad, I forgot to include it in `setup.py` and the precommit checks did not complain. I'll fix it tonight.

[2020-05-26 06:06] #144 closed

[2020-05-26 07:51] treiher commented on #144
Thanks for the fast fix!

[2020-08-26 21:49] v7a opened #147 "*args and **kwargs not supported"
Given the following code snippet:
[code]
I get errors saying that precondition arguments could not be set (from `_checkers.py:114`).

Unless I've missed it, the README didn't explicitly state that * and ** aren't supported. My use case is a rather generic decorator applied to some endpoints. It shouldn't matter how these endpoints are called, but they must contain a request (for the decorator to d

[2020-08-27 05:41] mristin commented on #147
Hi @v7a ,
Thanks for reporting the issue! I'll have a look. I fear that the introspection capabilities of Python might not support it, but it can also be a bug on icontract's side. Please give me a couple of days.

[2020-08-31 10:18] mristin commented on #147
Hi @v7a ,
I played for quite some hours trying to get `*args` and `**kwargs` working. Unfortunately, the logic of how they are populated is so complex that I gave up. There are too many edge cases and they need to be handled in a principled way.

If you don't mind, I'll point to this issue in the readme and leave the issue open? If there are enough people asking for this feature, I'll have another

[2020-09-14 15:34] treiher opened #149 "AttributeError in contract caused by method call in constructor"
When a method is called in the constructor, an `AttributeError` is raised in the contract. Here is a reproducer:

[code]

[code]

The contract works correctly when `self.separator()` is replaced by a string literal.

### Versions

icontract  2.3.4
asttokens  2.0.4
Python  3.8.5

[2020-09-14 17:15] mristin commented on #149
@treiher thanks for reporting! I'll have a look tonight or tomorrow.

[2020-09-14 17:18] mristin commented on #149
Could you please double-check the logic for me: the invariant checks need to be turned off during the constructor, otherwise you get an error such as this one (the invariant is checked before the call to `separator()` from within the constructor)?

[2020-09-14 18:53] treiher commented on #149
Sounds like a reasonable solution to this problem.

[2020-09-14 21:37] mristin commented on #149
@treiher The pull request #151 is up. Could you please review the test case and make sure that it matches your code: https://github.com/Parquery/icontract/pull/151/files#diff-b20043f83aeed569e372b4f454dbff95R230? Thanks in advance!

[2020-09-15 07:10] treiher commented on #149
The test case looks good to me.

[2020-09-15 19:30] #149 closed

[2020-09-15 19:32] mristin commented on #149
Hi @treiher ,
I hope #151 fixes the issue. Please re-open the issue otherwise.

Could you please check if there are any more issues pending on your side after you try out the head of the master branch? Once you confirm there are no issues, I'd bump a patch version.

[2020-09-16 08:12] treiher commented on #149
It works fine now. Thanks for fixing!

[2020-09-16 09:11] mristin commented on #149
@treiher please don't forget to ping me when you are confident we can move forward with the patch version :)

[2020-09-20 10:10] mristin commented on #149
Hi @treiher ,
If you agree, I'd publish a patch version tomorrow (Monday)?

[2020-09-20 11:15] treiher commented on #149
Yes, that would make sense. I haven't encountered any problem since the fix.

[2020-09-23 10:16] mristin commented on #149
@treiher the new patch version (2.3.5) has been just released.

[2020-11-04 16:31] nyraghu opened #160 "Testing for contract violation produces PendingDeprecationWarning"
When a function call violates a contract, I get a `PendingDeprecationWarning` from `ast`.  I don't get the warning for a call that conforms to the contract.

Example file `test_foo.py`:
[code]

[code]

[code]
Ref: https://github.com/Parquery/icontract/blob/fb072699c5d7963699b8893a0033762dc3b4f2a1/icontract/_recompute.py#L49

[2020-11-04 20:36] mristin commented on #160
Thanks for reporting the issue, @nyraghu! I'll try to have a look tomorrow or day after tomorrow.

[2020-11-05 01:57] nyraghu commented on #160
Python 3.8.5, icontract 2.3.6.

[2020-11-07 10:00] #160 closed

[2020-11-07 10:25] mristin commented on #160
Hi @nyraghu ,
I published a patch version to Pypi fixing the deprecation warnings (https://pypi.org/project/icontract/).

(If you haven't done so, may I kindly ask you to star the project on GitHub to give it visibility?)

[2020-11-07 14:21] nyraghu commented on #160
Many thanks.  The example I gave doesn't produce the warning with version 2.3.7 of the package.

Done.  Thank you for your work on this project.

[2020-11-09 04:51] nyraghu opened #164 "Violating contract with assignment expression produces NotImplementedError"
An assignment expression in a lambda expression in a contract produces a  `NotImplementedError` from `incontract._recompute` when a call violates the contract.  A call that conforms to the contract does not produce the error.  Using Python 3.8.5 and icontract 2.3.7.

Example file `test_foo.py`:
[code]

[code]
Using a named function instead of a lambda in the contract avoids the error.

Example fil

[2020-11-09 06:41] mristin commented on #164
Thanks for reporting the issue, @nyraghu ! I need to update the recomputation module to support recently introduced language features. Please give me a couple of days.

[2020-11-09 07:47] nyraghu commented on #164
Thanks for taking up the issue.

[2020-11-09 21:57] #164 closed

[2020-11-09 21:59] mristin commented on #164
Hi @nyraghu ,
The PR #166 should have fixed the issue. Could you please test the master branch against your code?

Please let me know if there are further issues. I'd wait with bumping the patch version for a week since I expect more bugs to resurface as you are probably the first user giving icontract the hard time with Python 3.8 :-).

[2020-11-10 05:28] nyraghu commented on #164
Yes, the examples I gave pass with master:

[code]

I'll do that.  I don't use many new features of Python 3.8; assignment expressions are one of the features I find convenient.

[2020-11-13 15:49] nyraghu opened #167 "Invariant on subclass of generic Mapping produces ValueError"
An `invariant` decorator on a subclass of a generic `typing.Mapping` class produces a `ValueError`.  Using Python 3.8.5 and icontract 2.3.7.

Example file `foo.py`:
[code]

[code]
Disabling asssertions removes the error:
[code]

[2020-11-13 23:21] mristin commented on #167
Hi @nyraghu ,
Thanks for reporting the bug! This looks like a very peculiar issue. Please give me a couple of days to have a proper look at it.

[2020-11-16 15:57] #167 closed

[2020-11-16 17:36] mristin commented on #167
Hi @nyraghu ,
I hope #168 fixed it (it was about the `__new__` dunder). Could you please check out the master branch and see if there are more bugs caused by icontract in your code base?

Otherwise, I'd release the next patch version in a week.

[2020-11-17 13:57] nyraghu commented on #167
The example I gave now works with icontract from master, as does my code with a subclass of a generic `typing.Mapping` class.

Many thanks for speedily fixing the issues.

[2020-11-17 16:59] mristin commented on #167
@nyraghu great, thanks! If there are no bugs in a week, I'll bump the patch version.

[2020-11-18 20:29] nyraghu opened #169 "Violating contract with f-string produces NotImplementedError"
An f-string in a lambda expression in a contract produces a  `NotImplementedError` from `incontract._recompute` when a call violates the contract.  A call that conforms to the contract does not produce the error.  Using Python 3.8.5 and icontract 2.3.7.

Example file `test_foo.py`:
[code]

[code]

[2020-11-19 10:26] mristin commented on #169
Hi @nyraghu ,
Thanks for the report! I'm working on it.

[2020-11-19 13:41] #169 closed

[2020-11-19 13:43] mristin commented on #169
Hi @nyraghu ,
Thanks again for spotting all these issues! It would be too much work to support all the language features in re-computation, so we rely on developers like you to let us know what would be used.

Please let me know if the master branch fixes the issue on your side as well. The patch version comes in a week then in case there are no further bugs.

[2020-11-19 19:38] nyraghu commented on #169
The code from master fixes the issue I ran into.  Thank you for the superb maintenance of the project.

[2020-11-20 15:22] nyraghu opened #171 "Invariant on subclass of NamedTuple produces TypeError"
An `invariant` decorator on a subclass of  `typing.NamedTuple` produces a `TypeError`.  Using Python 3.8.5 and icontract 2.3.7.

Example file `foo.py`:
[code]

[code]

Disabling asssertions removes the error:
[code]

[2020-11-21 07:45] #171 closed

[2020-11-21 07:46] mristin commented on #171
Hi @nyraghu ,
The PR #172 should have fixed it -- could you please test? I'll also test for dataclasses as soon as I get some time; they probably also break something.

[2020-11-21 14:05] nyraghu commented on #171
Many thanks! The version from master does fix the issue I had reported.

Dataclasses were working alright even earlier, to the extent that I was using them.

Example file `test_foo.py`:
[code]

[code]

[2020-11-21 21:21] mristin commented on #171
@nyraghu thanks! I added two tests just to avoid future regressions (see #173 ). Let's wait for another week for a release and hope more bugs resurface before :-).

[2020-11-22 06:18] nyraghu commented on #171
Thanks again!

[2020-11-27 14:56] crypdick opened #174 "Runtime type validation?"
We are assessing a switch from typeguard to icontract for stricter runtime validation. However, I don't see anything akin to [typeguard's @typechecked decorator](https://typeguard.readthedocs.io/en/latest/api.html#typeguard.typechecked). Correct me if I'm wrong, is the only way to do runtime type validation by making an `@icontract.require(lambda arg: isinstance(arg, <type>)` for all args?

[2020-11-27 15:09] mristin commented on #174
Hi @crypdick ,
That is correct. We used type annotations in our code base so we didn't really have many issues with unknown types at runtime. In those rare cases, `isinstance` seemed like a bit verbose, but an explicit solution (the reader immediately sees what is being checked as type checks can implemented in many different ways).

Typeguard seems like a good solution for the use case when all y

[2020-11-27 16:42] crypdick commented on #174
@mristin we make extensive use of @typechecked to strictly constrain arg types, which has been great. However, typeguard doesn't let us put strict constraints on the arg values. We were hoping to use a single argument validation library.

[2020-11-27 16:57] mristin commented on #174
@crypdick I personally don't find the following snippet too terrible:

[code]

You can also use [material implication](https://en.wikipedia.org/wiki/Material_implication_(rule_of_inference)) if you need to condition constraints on the type:

[code]

You can also alias isinstance simply with is_a to abbreviate it:
[code]

but I would personally recommend readability over brevity and avoid abbreviat

[2020-11-27 17:11] crypdick commented on #174
Thanks @mristin. One issue with that solution is that it violates the DRY principle -- we're already type hinting our args, and we'd have to maintain consistency with the types again in each decorator. It's also a ton of boilerplate: I can slap a `@typechecked` decorator on a class and it'll validate all the methods' args, but with your approach I'd have to add hundreds of lines of code to some of

[2020-11-27 17:18] mristin commented on #174
@crypdick I see -- I missed that part that you already do type annotations but want them enforced at runtime. I think that a decorator like `typechecked` would be out-of-scope for icontract and an unnecessary duplication of work. We would basically need to copy/paste typechecked code to icontract, wouldn't we?

[2020-11-27 17:27] crypdick commented on #174
I am not sure, I've never used icontract.

I am not sure if this qualifies, but we use PyDantic dataclasses and they play nicely with typeguard.

[2020-11-27 19:35] crypdick commented on #174
Update: I tested icontract with typeguard and I haven't found blockers.

[2020-11-27 20:09] mristin commented on #174
Hi @crypdick ,
I added a couple of explicit unit tests (see #175) to make sure that icontract and typeguard work together in the future as well. I also added a short paragraph in the Readme (https://github.com/Parquery/icontract/pull/new/mristin/Tested-with-typechecked) to recommend typeguard to the users.

Should we close the issue or there are still open points?

[2020-11-27 21:06] crypdick commented on #174
@mristin I think the explicit tests are great. Thanks!

[2020-11-27 21:06] #174 closed

[2020-11-28 01:30] crypdick commented on #147
@mristin Is it possible to have `require` only throw an error if the kwarg is supplied in the call?

[code]

[2020-11-28 08:15] mristin commented on #147
@crypdick that should be actually possible with a little bit of effort. I'll try to come up with a patch today or tomorrow.

[2020-11-28 14:04] crypdick commented on #147
I think I mean what I wrote. In the call `collate(dropout="0.5")` I did not supply a `learning_rate` kwarg, yet I got a TypeError. It would be nice if there was something akin to a `@icontract.require(lambda ..., ignore_missing=True)` so that the above example does not throw that TypeError.

[2020-11-30 16:48] mristin commented on #147
@crypdick sorry, I misunderstood. So let me try to have a take 2 at understanding it (please apologize, I'm not a native speaker).

The problem is that the argument `dropout` is not always supplied and you would like icontract to ignore the contract if the argument `dropout` is not supplied? What if you have two or more arguments -- wouldn't that be a big pitfall if ignored?

So actually this woul

[2020-11-30 21:40] mristin commented on #147
@crypdick @v7a After another take, I realized I had a mistake in my thinking since I always tried to refer to `*args` and `**kwargs` of the function through `*args` and `**kwargs` in the condition (please apologise for the terse and confusing text).

What is actually needed are special arguments allowing the user to refer to positional and keyword arguments of the function call. What do you think

[2020-12-01 15:42] crypdick commented on #147
@mristin right, the idea is that there is no guarantee than any single arg or kwarg will be supplied since they are all optional.

If I understand correctly, you're suggesting making ARGS and KWARGS reserved words for icontract? I am not sure how that would work in situations like https://github.com/Parquery/icontract/issues/147#issuecomment-735024525 where you're unpacking a different dict name (

[2020-12-02 08:07] mristin commented on #147
@crypdick could you please have a look at PR #147, at least the tests? Would that work for your use case?

[2020-12-02 11:56] crypdick commented on #147
I've reviewed, that looks good!

[2020-12-02 12:45] #147 closed

[2020-12-02 12:46] mristin commented on #147
@crypdick let's wait for a week for the next minor release.

[2021-01-22 10:40] treiher opened #186 "KeyError in contract caused by staticmethod and class invariant"
[code]

[code]

### Versions

[code]

[2021-01-22 11:55] mristin commented on #186
Hi @treiher ,
Thanks for the report! I'll have a look at it during the weekend. (I even thought I tested for this case, but I probably forgot.)

[2021-01-23 13:49] mristin commented on #186
Hi @treiher ,
Could you please check that #187 fixes your problem before I merge it in? (When originally writing the library, I handled `classmethod`s, but forgot to come back and handle the `staticmethod`s.)

[2021-01-24 19:39] mristin opened #189 "Rewrite documentation with Sphinx?"
Hi icontract users,
I am not sure how many people will see this issue, but let's give it a shot :).

I am thinking about re-writing the current Readme file to a "proper" Sphinx documentation split into multiple sections and shrinking the readme to a mere introduction with only a couple of short examples.

On one hand, that would make it a bit easier to browse through. On the other hand, there is n

[2021-01-26 16:58] treiher commented on #186
The code of #187 works for my use case. Thanks for fixing!

[2021-01-26 17:29] #186 closed

[2021-01-26 21:44] #189 closed

[2021-02-18 18:37] CrazyPython opened #199 "See also: Precisely"
https://github.com/mwilliamson/python-precisely

[2021-02-18 19:26] mristin commented on #199
Hi @CrazyPython,
Would you suggest integrating icontract with precisely? Or you had something else on your mind?

[2021-02-19 00:22] CrazyPython commented on #199
Yes, if you agree that such an integration would make sense and provide substantial benefit. Would be happy to contribute.

[2021-02-19 00:25] CrazyPython commented on #199
As of writing, I am not fully confident integration would be useful or beneficial, as I don't currently maintain a medium-size or large-size Python project that uses `icontract`.

[2021-03-22 14:09] cleder opened #206 "flake8-functions-names for icontract?"
https://github.com/Melevir/flake8-functions-names

An extension for flake8 that validates functions names, decomposition and conformity with annotations. The plugin also has some validations of deal contracts.

Maybe this could be useful for icontract as well? I.e. validate a name based on conformity with a contract?

[2021-03-22 15:18] mristin commented on #206
Hi @cleder ,
I looked into the plugin you sent. There is one rule regarding the `deal.pure`. However, icontract provides only checkers for pre, postcondotions and invariants. Can you maybe tell me a bit more what kind of rule you had in mind?

[2021-03-25 20:32] mristin commented on #199
Hi @CrazyPython ,
I'm closing the issue due to inactivity. Please re-open if there is a clear use case or example to test and discuss the new feature(s).

[2021-03-25 20:32] #199 closed

[2021-05-02 21:47] mristin commented on #206
Hi @cleder ,
Is it OK to close this issue?

[2021-05-03 14:07] cleder commented on #206
Yes, I thought there could be a quick win here, sorry it is not

[2021-05-03 14:07] #206 closed

[2021-05-24 14:06] crypdick commented on #47
@mristin I like that proposal

[2021-05-24 18:57] mristin commented on #47
Hi @crypdick ,
I'm currently quite busy with https://github.com/mristin/python-by-contract-corpus -- how much priority would you put on this feature?

[2021-05-25 16:30] crypdick commented on #47
@mristin low priority for my team. We already are using icontract. I do think that for future adoption, though, avoiding name collisions is good and that the before/after/always/capture is easier to think about.

[2021-07-01 19:52] mristin commented on #61
Closing due to inactivity.

[2021-07-01 19:52] #61 closed

[2021-07-01 19:53] mristin commented on #49
Closing due to inactivity.

[2021-07-01 19:53] #49 closed

[2021-07-01 19:55] mristin commented on #47
I'll close the issue for now. There is so much work related to icontract-hypothesis and python-by-contract-corpus pending so that this change would be very hard to prioritize in the next months.

[2021-07-01 19:55] #47 closed

[2021-07-01 19:55] mristin commented on #50
Closing due to inactivity.

[2021-07-01 19:55] #50 closed

[2021-07-01 19:56] mristin commented on #51
Closing due to inactivity.

[2021-07-01 19:56] #51 closed

[2021-07-01 19:56] mristin commented on #52
Closing due to inactivity.

[2021-07-01 19:56] #52 closed

[2021-08-11 20:49] ciresnave opened #224 "Invariant on a class changes the type of the class"
[code]

[2021-08-11 21:02] ciresnave commented on #224
This was originally brought to my attention by PyLance which didn't like me using the invariant wrapped class as a type hint for a field in a dataclass like so:

@dataclass
class TestClass3():
    test_class: TestClass1

PyLance complained that it expected a Class but received a type instead.

[2021-08-11 21:34] ciresnave commented on #224
I should mention that although this is a discrepancy, the code still works.  It's just PyLance and other type checkers that may complain about the difference.

[2021-08-12 06:51] mristin commented on #224
Hi @ciresnave ,
Thanks a lot for reporting this issue! This is very relevant as many people who use contracts also use type checkers.

I have just added a test with mypy (please see [this snippet in the pull request 226]). The output of mypy 0.910 looks correct to me. Could you please double-check?

Does your version of PyLance uses mypy or it has its own implementation of type inference? If you h

[2021-08-12 19:16] ciresnave commented on #224
Interesting.  Mypy does indeed show the two as identical...but it doesn't show the type as such.  Instead, it shows the following:

[code]
Just out of curiosity I added code to print the types:
[code]
The results would appear to indicate this may be a PyLance issue:
[code]

Maybe this is an issue with PyLance.  Thoughts on anything else you would like me to check before I open an issue with PyLanc

[2021-08-12 19:48] mristin commented on #224
@ciresnave thanks for the further investigation!

The current type annotations for `invariant` decorator are actually quite vague, so maybe PyLance is having a problem with that. I tried to make a fix in the pull request #227. Could you please check out https://github.com/Parquery/icontract/commit/bb1495384f31e9130fcb58b2f1e397b0f0396313 and see if the more precise type annotations work with PyLan

[2021-08-12 20:09] ciresnave commented on #224
Okay.  I will check that and get you the results ASAP.  Since I still feel this is also questionable behavior in PyLance, I have opened an issue with them as well.  In case you're curious what they find:

https://github.com/microsoft/pylance-release/issues/1667

[2021-08-12 22:03] ciresnave commented on #224
It appears your pull request [#227](https://github.com/Parquery/icontract/pull/227) did indeed solve the problem.  Interesting.  PyLance now sees TestClass2 as Type[TestClass2] as it should.

[2021-08-12 22:46] ciresnave commented on #224
It also appears this is a known issue in mypy (https://github.com/python/mypy/issues/3135) and has been for years.  Basically, mypy isn't checking some aspects of wrapped/decorated classes.  PyLance appears to be adhering more closely to the standard than mypy if I'm reading it right.

[2021-08-13 08:50] mristin commented on #224
@ciresnave thanks for your feedback! I'll merge the PR and bump a patch version this Monday.

[2021-08-16 19:20] mristin commented on #224
@ciresnave I've just released the patch version on PyPI which should have the issue fixed. Please feel free to re-open the issue if there are further problems.

[2021-08-16 19:20] #224 closed

[2021-09-13 10:08] leshchenko1979 opened #229 "Failed to recompute the values of the contract condition"
I have the following code:

[code]

If the first contract fails, I'm getting a RuntimeError instead of a ViolationError:
[code]

I also made the second one fail with `pytest`, and the test output was:
[code]

[2021-09-15 05:34] mristin commented on #229
Hi @leshchenko1979 ,
Thank you a lot for submitting the bug! I think the notation `30_000` might be the cause. This week I am too busy, but I can have a look next week. Would that be OK with you?

[2021-09-15 07:10] leshchenko1979 commented on #229
Absolutely no worries, thanks. I'll also try the `30000` notation and let you know.

[2021-09-15 09:15] dycw commented on #229
Just been looking at this. The error seems to be quite widespread in my (attempted) use-case:

[code]

with

[code]

[2021-09-15 11:28] leshchenko1979 commented on #229
I'm trying to isolate this even further:
[code]
Output:
[code]
It seems like the bug happens when there is an invalid condition based on a numpy array (as it also was with my original case above).

PS. @dycw You have a peculiar yet very informative traceback structure. Where does it come from?

[2021-09-16 00:22] dycw commented on #229
Hi @leschenko1979 I use https://github.com/Qix-/better-exceptions

It appears we've both run into this problem as we're in the `numpy`/`pandas` domain.

[2021-09-23 20:01] mristin commented on #229
Hi @dycw  and @leshchenko1979 ,
Please apologize for the delay. I finally got some time to look into the issue and fix it: https://github.com/Parquery/icontract/pull/232.

Could you please double-check that the pull request fixes your issue on your machine as well before I merge it in?

[2021-09-24 08:27] leshchenko1979 commented on #229
Yep, works fine for me, thanks!

[2021-09-26 06:08] #229 closed

[2021-09-26 06:17] mristin commented on #229
Thanks again for the bug report, @leshchenko1979 and @dycw! I've just released v2.5.5 which should be available on PyPI shortly. Please let me know if there are more issues.

(Btw., could you please star the project on GitHub if you haven't done so already to give it some visibility?)

[2021-09-26 06:18] dycw commented on #229
Of course, already did!

Thanks for the fix!

[2021-11-16 07:09] leshchenko1979 opened #234 ""Soft" contracts"
This is a proposal to introduce new functionality, "soft contracts".

### Problem
Sometimes you want to track unwanted behaviour but instead of getting an exception, you want to log it.

Say, your code is already in production and nothing fatal happens when this unwanted behaviour occurs. You want to track and eliminate it, but if you use the usual contracts, the users would suffer - the execution

[2021-11-16 07:31] leshchenko1979 commented on #234
I've tried to build atop of the existing `icontracts` entities:
[code]
But I'm getting the error message:
[code]

[2021-11-16 10:58] mristin commented on #234
Hi @leshchenko1979 <https://github.com/leshchenko1979>,
Thanks for your suggestion! It's always interesting to see how users have
different use cases! :-)

I'd suggest a smaller change: there is already an argument `error` where a
callback function can be supplied. In case the callback function returns
None, the error is simply not raised (but you can log it, of course). What
do you think?

[2021-11-16 21:37] leshchenko1979 commented on #234
Nice idea!

Sure it's better to make a smaller change!

So, I'm trying to figure out how it would look for the developer:
[code]

Is this what you had in mind?

If so, then the logging will be very bleak as we will lose the rich description of the contract violation generated by `icontract`. Is there a  way to log the standard violation description (containing the values of the variables checked e

[2021-11-20 12:19] mristin commented on #234
@leshchenko1979 Please apologize first for the long delays. I've got a lot of work till about mid-December.

You are correct. It would be indeed cool to preserve the full error message, but just log it instead of raising. Theoretically, you could write a decorator that catches the exceptions, but if I understand you correctly, you would like to execute the function *even though* the preconditions

[2021-11-20 18:54] leshchenko1979 commented on #234
Exactly. Log the exception and go on - that's the idea of "soft".

[2021-11-22 20:20] claudio-ebel opened #235 "Missing arg for ViolationError in python 3.10"
Minimal working example in `/tmp/spam.py`:

[code]

Expected behavior (python `3.9`):

[code]

False behavior (python `3.10`):

[code]

[2021-11-23 18:48] mristin commented on #235
Thanks a lot, @claudio-ebel! How critical is this bug for you? I could try to have it fixed by Thursday evening CET.

[2021-11-23 18:57] mristin commented on #234
@leshchenko1979 one more thought. I am a bit reluctant to introduce three new decorators as that would duplicate a lot of code finally making the package unmaintainable. What do you think about supplying a special class, `Action`, to the `error` argument.

The logic would follow the cases with the errors, but just before raising, icontract would check whether the exception is an instance of `icont

[2021-11-24 06:18] leshchenko1979 commented on #234
OK, we are dropping the idea of introducing additional decorators. Seems completely logical.

And I think your suggestion of a separate class with an `execute` method would also work.

However, I think there is a solution less bulky than adding a whole class, and it solves the task of supplying the user with the error message.

What if we go back to your original idea of checking the returned valu

[2021-11-24 14:16] claudio-ebel commented on #235
Wow, thank YOU a lot! This bug is _not_ critical for me at all! It is only triggered in one of my `pytest` tests. If your fix needs longer (> a few weeks), I will create a little workaround in my code.

[2021-11-25 11:34] #235 closed

[2021-11-25 11:35] mristin commented on #235
@claudio-ebel could you please check that the issue is fixed with the newest code on the master branch? If so, I'll publish a new minor version to PyPI.

[2021-11-25 11:37] mristin commented on #235
@claudio-ebel  P.S. If you haven't done so, could you please star the repository on GitHub to give it some visibility?

[2021-11-26 13:34] claudio-ebel commented on #235
Yes, your fix solved all the issues for all four combinations:
- python 3.9 the minimal working example
- python 3.9 with the tests in my project
- python 3.10 the minimal working example
- python 3.10 with the tests in my project

Thank you so much! 👏👏👏

Done! ⭐ Your suggestion was very good – I was not aware of that github feature.

[2021-11-28 19:19] mristin commented on #234
@leshchenko1979 OK, I think we converged :).

* I'll rename the argument to the error callback `_ERROR_MESSAGE` to keep the consistency with _ARGS and _KWARGS.
* Whenever the error callback returns `None`, no error will be raised. In case of preconditions and invariants the decorated function will be executed despite the violation.

Please have patience with this feature. I won't be able to work o

[2021-11-28 19:25] mristin commented on #235
@claudio-ebel the new minor version, 2.6.0, should be now on PyPI. Thanks for the star ;)

[2021-11-29 06:29] leshchenko1979 commented on #234
No problem, thanks!

[2021-12-02 06:42] leshchenko1979 commented on #234
Just an afterthought - is it possible that there is an already existing code base where people use `icontract` with the error parameter returning `None`?

In that case, our proposal would introduce some breaking changes to that code base and we better switch from `None` to some specialized class (eg, `DontRaiseOnViolation`).

[2021-12-02 08:23] mristin commented on #234
@leshchenko1979 this would have raised an exception, so there should be no
problems with the existing clients.

On Thu, 2 Dec 2021, 07:43 Alexey Leshchenko, ***@***.***>
wrote:

[2021-12-30 06:16] mristin commented on #234
Hi @leshchenko1979,
Just a heartbeat signal -- I haven't forgotten about the proposal. Unfortunately, I am still too involved in an intensive phase of a project that I hoped would be finished before Christmas. Please have patience, I hope to be able to have a look at it in January-February.

I suppose this feature is not critical for your code base?

[2021-12-30 10:54] leshchenko1979 commented on #234
@mristin Marko, no worries at all! Of course it's not critical! Happy new year!

[2022-01-15 21:09] mristin commented on #234
Hi @leshchenko1979 ,
I finally found time to look at this issue. Please apologize such a long delay.

There is a blocker that I was not aware of until I looked deeper in the code. Namely, when we deal with inheritance we can *weaken* the pre-conditions. It is OK if a pre-condition group of an ancestor is violated -- at least one group needs to be satisfied and then the function can execute.

See h

[2022-01-16 10:17] leshchenko1979 commented on #234
I tried to understand this inheritance and contracts concept, but this is too complicated for me. 😅

So, no worries, let's close this issue - I'll use workarounds.

[2022-01-17 19:45] mristin commented on #234
The topics are unfamiliar, but in essence they are not too complex. Ping me if you'd like more reading material.

Ok. Please feel free to re-open if the feature becomes critical.

[2022-01-17 19:45] #234 closed

[2022-02-14 14:34] kklein opened #239 "Installation of tests as package/module"
Hi!

I realized that when installing `icontract` via pypi, `tests_3_6`, `tests_3_7` and `tests_3_8` are installed as packages/modules in the users' global environment as well - alongside `icontract`. Is this intentional? If so, is it necessary?

[2022-02-14 14:48] mristin commented on #239
@kklein thanks for reporting! No, that is a mistake in `setup.py`. I'll try to fix it tonight.

[2022-02-14 15:23] kklein commented on #239
Perfect, thanks a lot!

[2022-02-14 16:41] #239 closed

[2022-05-09 12:20] claudio-ebel opened #243 "Mypy fails to determine function's type in icontract.ensure()"
**Bug Report**
When a type-annotated function is (re-)used in its own postcondition `icontract.ensure` decorator, `mypy` is not able to determine its type. Since `mypy` *does* successfully infers the types of an annotated function before the function's actual definition, this bug is part of the `icontract` library and not `mypy`.

**To Reproduce**
1. Create a file “bug.py” with this content:
[code

[2022-05-09 14:51] mristin commented on #243
Thanks for the issue, @claudio-ebel ! I'm busy till this Thu, but afterwards I should be able to find some time to have a look at it.

[2022-05-15 11:14] gador opened #244 "Compatibility with newer version of deal?"
I noticed `icontract` tests the compatibility with `deal` with an old version of `deal` (4.1.0 from 2020). This old version isn't compatible with recent versions of `setuptools` due to the following error:
[code]

When using a recent version of `deal` (e.g. 4.23.3), I get an error from `icontract` test system:

[code]

Can we update the test case to work with newer versions of `deal`? Or is the er

[2022-05-15 15:58] mristin commented on #244
Hi @gador,
Thanks for reporting this! You can go ahead and update the tests to work with the newer version of deal. Please ping me in a week or two if you didn't find time to look into this and I'll try to update it.

[2022-05-19 07:51] mristin commented on #243
@claudio-ebel please apologize again for the delay. I'm having some tough time at work.

[2022-05-22 09:27] mristin commented on #243
@claudio-ebel Now this is a coincidence :-) -- they are just about to fix this issue in mypy: https://github.com/python/mypy/issues/8645

Let's wait for a couple of days for the next mypy release. You'll need Python 3.10 for this feature to work, though.

[2022-05-22 09:59] #244 closed

[2022-05-22 10:00] mristin commented on #244
@gador I suppose you had the change like #246 in mind? If not, please feel free to re-open the issue.

[2022-05-22 10:39] gador commented on #244
yes, thanks a lot! I haven't found the time for that, yet and it works beautifully!

[2022-06-05 12:00] geryogam opened #247 "icontract fails to restore class invariants at method exit"
icontract fails to restore class invariants at method exit:

[code]

This is contrary to what Bertrand Meyer prescribes in his 1992 seminal article [Applying “Design by Contract”](https://pages.mtu.edu/~aebnenas/teaching/spring2010/cs3141/readings/meyerPDF.pdf):

Class invariants are the minimal guarantees in case of failure.

[2022-06-05 13:23] mristin commented on #247
Hi @maggyero ,
Thanks for reporting! Since icontract checks the invariants only before and after the methods, there is no way to my knowledge how the invariant can be checked *after* an exception has been caught.

While I can't implement the feature, I'll describe the issue in the docs. Please let me know if you have an idea how to implement this.

[2022-06-05 16:38] maggyero commented on #247
Hi @mristin,

I used `assert` statements only to make it explicit what properties I expected to hold at those points in the program; they are not to be checked by icontract at those points.

To fulfil the second `assert a.x == 1` statement, icontract should catch any exception raised in a method call (here `a.f()`), restore the class invariant (here `self.x > 0`), and re-raise the exception (here

[2022-06-05 20:27] mristin commented on #247
Hi @maggyero ,
Thanks for the explanations! Actually, I think a method-specific and class-spefic rescue clauses would do the trick as you suggested.

I would opt that the ``rescue`` decorator accepts the ``self`` and ``exception`` as arguments. The  exception needs to contain enough information so that the rescue decorator knows how to fix the instance ``self``, and supplying this information in t

[2022-06-05 21:22] mristin commented on #243
@claudio-ebel I had another look at the issue. Finally I understood what's going on -- I totally missed the point in the original comments.

Let me document it here, in case somebody else needs to look it up in the future. The issue is not with `ParamSpec` and inference on the callable, and has no relation to https://github.com/python/mypy/issues/8645. Instead, it is an issue with `myadd` not bein

[2022-06-06 19:53] claudio-ebel opened #249 "Question/Feature request: Iterable usage in `require` and `snapshot` decorators"
**Question**

How do I use `Iterable` in a `@snapshot` or in a `@require` decorator? I didn't find any hints in the documentation so I assume I either used them wrong or didn't understand a core concept. Otherwise, I would like to propose a feature request 😀

**Examples for `@ensure`**

If I try to take a snapshot of an `Iterable`, it is not possible since `snapshot` consumes it. Using the file `i

[2022-06-06 19:55] claudio-ebel commented on #249
If there really are features missing, I gladly offer my help and contribution by implementing those features!

[2022-06-07 05:52] mristin commented on #249
@claudio-ebel thanks for sharing your thoughts! It is indeed a missing feature.

Some two years ago I spent quite some time thinking about it. However, what seems to work on some cases turns out to be inappropriate for other cases. For example, what if there are two iterators in the input and an iterator as the output and all these three somehow correlate?

I came to the conclusion that iterators,

[2022-06-19 09:19] claudio-ebel commented on #249
@mristin Thank you very much for your openness and this kind offer. I eagerly accept it! Indeed, I have a few practical examples. I am on vacation right now and have afterwords a stressful week at my job, but afterwords (July) I'd like to look at the project code and get myself used with the coding style and conventions therein. You prefer that I create a branch for this feature/issue, right? I'd

[2022-06-19 10:49] mristin commented on #249
@claudio-ebel a separate branch would be great! Take your time! Let's first think about use cases and at the conceptual level -- coding is the easy part once that is all figured out :-).

[2022-08-04 20:23] matthewdeanmartin opened #250 "Can you release a wheel?"
They are useful in environments where sdist is prohibited because setup.py can execute arbitrary code on install, where as wheels can only execute code on import + invocation. It is a typosquatting defense.

`python setup.py sdist bdist_wheel` and then uploading `dist/*` with twine would do it, although there are more ways to do it.

Right now there is just a tar.gz - https://pypi.org/project/icon

[2022-08-04 20:42] mristin commented on #250
@matthewdeanmartin thanks, I'll add wheels when I'm back from holidays (late August).

[2022-08-13 14:58] mristin commented on #250
@matthewdeanmartin I made a new release, 2.6.2, which includes a wheel: https://files.pythonhosted.org/packages/d8/91/9756e7cf0b155e80bf9a62beffdd1dec4afce43cc6ab7f432f2267c62762/icontract-2.6.2-py3-none-any.whl.

I'm closing the issue. Please re-open if something is wrong with the wheel or the content is not what you expected *etc.*

[2022-08-13 14:58] #250 closed

[2022-09-26 00:11] ronaldpetty opened #254 "License perms"
When installing via pip. The license is placed in /usr/local

[code]

Maybe consider rename for global installation too LICENSE.icontract.txt (or subdirectory). Just a suggestion, keep up the good work!

[2022-09-26 05:51] mristin commented on #254
@ronaldpetty could you please elaborate? (Or do you have maybe a pointer to a page that explains the problem in more detail?)

[2022-09-28 01:51] ronaldpetty commented on #254
@mristin sorry for the delay. I had ran `pip install icontract` on my Mac. It failed due to the license being written to /usr/local/LICENSE.txt, where the directory is owned by root. While I should have used a `--user` option to redirect locally, it seems odd that it would try to write it out to a generic location like `/user/local`.

[2022-10-14 13:25] mristin commented on #254
@ronaldpetty I could not reproduce the issue. If you have a colleague with a Mac, could you try if it also fails on his/her computer?

[2022-10-14 13:29] mristin commented on #254
I observe the following behavior on Windows. The `LICENSE.txt` is installed in `venv\Lib\site-packages\icontract-2.6.2.dist-info\LICENSE.txt`.

[2022-11-04 07:58] mristin commented on #254
@thiagokokada I see that on https://github.com/NixOS/nixpkgs/pull/199341 you mention that icontract also puts a `README.rst` in the same directory in the build environment as pylddwrap -- is that something which needs fixing?

Is this issue maybe related? If so, any ideas how to fix it?

[2022-11-04 10:45] thiagokokada commented on #254
@mristin I think so.

One idea that I can think is removing this [line](https://github.com/Parquery/icontract/blob/master/setup.py#L63). But if this is not possible for some reason, maybe those data files could be moved instead?

BTW, keep in mind that pylddwrap has the same issue: https://github.com/Parquery/pylddwrap/blob/master/setup.py#L71